# used by the vue app
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Used by schema-drift-detection.py
SUPABASE_DB_PASSWORD=
SUPABASE_HOST=

# used for file storage
VITE_GITEA_HOST=
VITE_GITEA_TOKEN=

# used for python api
VITE_PYTHON_API_URL=
